{template "content","header"}
    <div class="wrap">
        {template "content","left"}
        <div class="w646 r">
            <div class="m_nav">
                <h3>{$CATEGORYS[$catid]['catname']}</h3><span>所在位置：<a href="{siteurl($siteid)}">首页</a> - <a href="{$CATEGORYS[$catid]['url']}">{$CATEGORYS[$catid]['catname']}</a></span></div>
            <div class="blank20"></div>
            <div class="anli">
                {pc:content  action="lists" catid="10" order="id DESC" num="8" page="$page"}
                     <ul>
                         {loop $data $key $val}
                            <li>
                            <a href="{$val[url]}" title="{$val[title]}">
                                <img src="{$val[thumb]}" width="288" height="195" alt="{$val[title]}" />
                                <h3>{$val[title]}</h3>
                            </a>
                            </li>
                         {/loop}
                     </ul>
                {/pc}
            </div>
            <div class="pageinfo">{$pages}</div>
        </div>
    </div>
    {template "content","footer"}